{% extends "base_template.html" %}

{% block content %}

<div class="box_container">
    <h1 class="title"> Gérer les Campagnes</h1>

    <section class="table-btn">
        <input type="button" value="Filtres" class="btn-filter typographie">
        <input type="button" value="Ajouter une campagne" id="btn-add-campaign" class="typographie">
    </section>

    <table class="table-borders">
        <thead>
            <tr class="header-row">
                <th>Nom</th>
                <th>Lieu</th>
                <th>Date de début</th>
                <th>Durée</th>
                <th>Plateforme</th>
            </tr>
        </thead>
        <tbody>
            {% for campaign in campaigns %}
            <tr onclick="location.href='{{ url_for("campaign_detail", campaign_id=campaign) }}'" style="cursor: grab;">
                <td>{{ campaign }}</td>
                <td>{{ campaign }}</td>
                <td>{{ campaign }}</td>
                <td>{{ campaign }}</td>
                <td>{{ campaign }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <section class="pagination">
        <input type="button" value="<" class="pagination-btn typographie">
        <p>{{ page }}</p>
        <input type="button" value=">" class="pagination-btn typographie">
    </section>
</div>

{% endblock %}
