{% extends "base_template.html" %}

{% block content %}

<div class="box_container">
    <h1 class="title">{{ campaign_id }}</h1>

    <table class="table-borders-bottom">
        <tbody>
            <tr>
                <td>Lieu de campagne: {{ campaign_id}}</td>
            </tr>
            <tr>
                <td>Date de début: {{ campaign_id}}</td>
                <td>Date de fin: {{ campaign_id}}</td>
                <td>Durée: {{ campaign_id}}</td>
            </tr>
            <tr>
                <td>Plateforme: {{ campaign_id}}</td>
                <td>Coût total: {{ campaign_id}}</td>
            </tr>
        </tbody>
    </table>

    <h2>Echantillons ADN retrouvé</h2>
    <br>
    <input type="submit" id="add_sample" value="Ajouter échantillon">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th colspan="3">Description</th>
            </tr>
        </thead>
        <tbody>
            {% for sample in samples %}
            <tr onclick="location.href='{{ url_for("sample_detail", sample_id=sample) }}'">
                <td>{{ sample }}</td>
                <td>{{ sample }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Participants : </h2>

    <table id="participant-table">
        <tbody>
            <!-- dictionnaire des participants pour simplifier la répartition en ligne de 3 (max) -->
            {% for row,participant_row in participants.items() %}
            <tr>
                {% for participant in participant_row %}
                <td>{{ participant }}</td>
                {% endfor %}
            </tr>
            {% endfor %}

        </tbody>
    </table>

</div>

{% endblock %}