{% extends "base_template.html" %}

{% block content %}
<section id="logo">
    <img src="{{ url_for('static', filename='image/logo.png') }}" alt="logo">
</section>

<div class="box_container">
    <section class="box_block">
        <h2>Login</h2>
        <!-- Formulaire de connexion -->
        <form method="POST" role="form" action="{{ url_for('login') }}">
            <div class="form_field">
                {{ form.id.label (class_ = "form-label") }}
                {{ form.id (class_ ="form-input") }}
            </div>
            <div class="form_field">
                {{ form.password.label (class_ = "form-label") }}
                {{ form.password (class_ ="form-input") }}
            </div>
            <div id="login-form-submit">
                <input type="submit" value="Se connecter">
            </div>
        </form>
    </section>
</div>
{% endblock %}