{% extends "base_template.html" %}

{% block content %}

<div class="box_container">
    <section class="box_block">
        <h2 class="centered-title title">Create a Campaign</h2>
        <form method="POST" role="form" action="{{ url_for('create_campaign') }}">
            {{ form.hidden_tag() }}
            <div class="form_field">
                {{ form.plateforme.label (class_ = "form-label") }}
                {{ form.plateforme (class_ ="form-input") }}
            </div>
            <div class="form_field">
                {{ form.lieu.label (class_ = "form-label") }}
                {{ form.lieu (class_ ="form-input") }}
            </div>
            <div class="form_field">
                {{ form.startDate.label (class_ = "form-label") }}
                {{ form.startDate (class_ ="form-input") }}
            </div>
            <div class="form_field">
                {{ form.duree.label (class_ = "form-label") }}
                {{ form.duree (class_ ="form-input") }}
            </div>
            <div class="form_field">
                {{ form.participate.label (class_ = "form-label") }} {{ form.participate (class_ ="form-input") }}           
            </div>
            <div id="login-form-submit">
                {{ form.submit }}
            </div>
        </form>
    </section>
</div>

{% endblock %}