{% extends "base_template.html" %}

{% block content %}
<div>
    <h1>Gestion des actions</h1>
    <div id="platform_management">
        <div id="platform_table">
            <button>Filtres</button>
            <table>
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Nombre Personnes</th>
                        <th>Cout Journalier</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="create_platform">

        </div>
    </div>
</div>
{% endblock %}