{% extends "base_template.html" %}

{% block content %}

<h2 class="title">Sample Details</h2>

<div class="box_container">
    <section>
        <p><strong>Sample ID:</strong> {{ sample.id_echantillon }}</p>
        <p><strong>Espece:</strong> {{ sample.espece.nom_espece if sample.espece != None else Inconnu }}</p>
        <p><strong>Description:</strong> {{ sample}}</p>
    </section>

    <div class="CRUD_btn">
        <input type="button" value="Delete" class="btn-delete typographie" onclick="if(confirm('Êtes-vous sûr de vouloir supprimer cet échantillon ?')) { location.href='{{ url_for('delete_sample', sample_id=sample.id_echantillon) }}' }">
        <input type="button" value="Update" class="btn-edit typographie" onclick="location.href='{{ url_for('edit_sample', sample_id=sample.id_echantillon) }}'">
    </div>

    <section>
        <h2 class="title">Select a sample to compare</h2>
        <table>
            <thead>
                <tr>
                    <th>Sample ID</th>
                    <th>Espece</th>
                </tr>
            </thead>
            <tbody>
                {% for other_sample in samples %}
                {% if other_sample.id_echantillon != sample.id_echantillon %}
                <tr>
                    <td>{{ other_sample.id_echantillon }}</td>

                    {% if other_sample.espece != None %}
                        <td>{{ other_sample.espece.nom_espece }}</td>
                    {% else %}
                        <td>Inconnu</td>
                    {% endif %}

                    {% if other_sample.commentaire == "" %}
                        <td>Aucune description disponible</td>
                    {% else %}
                        <td>{{ other_sample.commentaire }}</td>
                    {% endif %}
                {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <section class="pagination">
            <a href="{{ url_for('sample_detail', sample_id=sample.id_echantillon, campaign_id= sample.id_campagne, page=page-1) }}" class="pagination-btn typographie"><</a>
            <p>{{ page }}</p>
            <a href="{{ url_for('sample_detail', sample_id=sample.id_echantillon, campaign_id= sample.id_campagne, page=page+1) }}" class="pagination-btn typographie"> > </a>
        </section>

    </section>
</div>


{% endblock %}