{% extends "base_template.html" %}

{% block content %}

<div>
    <h1 class="title"> Gérer les Campagnes</h1>

    <section class="table-btn">
        <input type="button" value="Filtres" class="btn-filter">
        <input type="button" value="Ajouter une campagne" id="btn-add-campaign">
    </section>

    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Lieu</th>
                <th>Date de début</th>
                <th>Durée</th>
                <th>Plateforme</th>
            </tr>
        </thead>
        <tbody>
            {% for campaign in campaigns %}
            <tr onclick="location.href='{{ url_for("campaign_detail", campaign_id=campaign) }}'" style="cursor: grab;">
                <td>{{ campaign }}</td>

            {% endfor %}
        </tbody>

    </table>
</div>

{% endblock %}
