body{
    padding: 0;
    margin: 0;   
}

#navbar {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 1rem 0 2rem;
}

#navbar h1 {
    margin: 0;
    padding: 0;
}

#navbar-items {
    position: static;
    margin-right: 2rem;
    margin-left: auto;
}
#navbar-items ul{
    display: flex;
    gap: 8rem;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: center;
}

#navbar-items li{
    padding: 1rem;
    margin: 0;
}

#logo{
    display: block;
    margin: 0;
    padding: 0;
}

#logo img{
    height: 20vh;
    width: auto;
    padding: 2vh;
    margin: 2vh;
}

#connexion_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#connexion_block{
    margin-top: 2vh;
    padding: 2vh;
    width: 50vw;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
    margin: 0 15% 0 15%;
}

.login-form-label {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    margin: 2% 0 2% 0;
}

.login-input{
    width: 100%;
    height: 4.5vh;
    padding: 0;
    margin: 0;
}

#login-form-submit{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-form-submit input{
    display: flex;
    width: 70%;
    padding: 2%;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

#main_tech_dashboard{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20vh;
}

#main_tech_choice{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10vh;
}

#platform_management{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10vh;
}

#platform_table {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1vh;
}

#platform_table th, #platform_table td{
    text-align: left;
    padding: 2vh;
}