body{
    padding: 0;
    margin: 0;   
}

.title{
    text-align: center;
}

h2{
    text-align: left;
}

#navbar {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 1rem 0 2rem;
}

#navbar h1 {
    margin: 0;
    padding: 0;
}

#navbar-items {
    position: static;
    margin-right: 2rem;
    margin-left: auto;
}
#navbar-items ul{
    display: flex;
    gap: 8rem;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: center;
}

#navbar-items li{
    padding: 1rem;
    margin: 0;
}

#logo{
    display: block;
    margin: 0;
    padding: 0;
}

#logo img{
    height: 20vh;
    width: auto;
    padding: 2vh;
    margin: 2vh;
}

.box_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box_block{
    margin-top: 2vh;
    padding: 2vh;
    width: 50vw;
}

.form_field {
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
    margin: 0 15% 0 15%;
}

.form-label {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    margin: 2% 0 2% 0;
}

.form-input{
    width: 100%;
    height: 4.5vh;
    padding: 0;
    margin: 0;
}

#login-form-submit{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-form-submit input{
    display: flex;
    width: 70%;
    padding: 2%;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

#budget-form-submit{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#budget-form-submit input{
    display: flex;
    width: 50%;
    padding: 2%;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

.table-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-bottom: 2%;
    gap: 5%;
}

table {
    width: 80%;
    margin: 0 auto;
}

.btn-filter{
    margin-right: 25%;
    padding: 1%;
}

#btn-add-campaign{
    flex-grow: 1;
    margin-right: 35%;
    padding: 1%;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2vh;
}

th {
    padding: 1%;
    text-align: center;
}

.table-borders {
    width: 90%;
}

.table-borders-bottom td{
    padding: 2%;
}

.table-borders-bottom {
    width: 80%;
    margin-bottom: 2%;
}

#participant-table td {
    padding: 2%;
}