#navbar {
    background: #BEEAC5;
}

.title{
    color: #000;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#navbar h1 {
    color: #000;
    font-family: "Climate Crisis";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 5rem;
}

#navbar-items {
    font-size: 2.5rem;
}

#navbar-items li {
    background-color: salmon;
    border-radius: 1rem;
    cursor: pointer;
}

#navbar-items li:hover {
    background-color: bisque;
    transition: ease-in-out 0.3s;
}

#navbar-items ul {
    list-style: none;
}

#logo {
    text-align: center;
}

#logo img {
    background-color: lightblue;
    border-radius: 100%;
}

#box_block {
    text-align: center;
    border-radius: 2vh;
    border-radius: 15px;
    border: 2px solid #4F4F4F;
}

#box_block>h2 {
    color: #000;
    font-family: Metropolis;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.form-label {
    text-align: left;
    color: #4F4F4F;
    font-family: Metropolis;
    font-style: normal;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: normal;
}

.login-input {
    border-radius: 10px;
    border: 1px solid #4F4F4F;
    background: #FFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

#login-form-submit input {
    border-radius: 60px;
    background: #C0BCBC;
}

#login-form-submit input :hover {
    border-radius: 60px;
    background: #494747;
}

#budget-form-submit input {
    border-radius: 60px;
    background: rgba(20, 174, 92, 0.80);
    transition: ease-in-out 0.3s;
}

#budget-form-submit input:hover {
    background: rgb(123, 255, 185);
}