@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

#navbar {
    background: #BEEAC5;
}

.typographie {
    color: #000;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

.title {
    color: #000;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#navbar h1 {
    color: #000;
    font-family: "Climate Crisis";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 5rem;
}

#navbar-items {
    font-size: 2.5rem;
}

#navbar-items ul li {
    background-color: salmon;
    border-radius: 1rem;
    cursor: pointer;
}

#navbar-items ul li:hover {
    background-color: bisque;
    transition: ease-in-out 0.3s;
}

#navbar-items ul {
    list-style: none;
}

#navbar-items li a {
    text-decoration: none;
    color: inherit;
}

#logo {
    text-align: center;
}

#logo img {
    background-color: lightblue;
    border-radius: 100%;
}

#box_block {
    text-align: center;
    border-radius: 2vh;
    border-radius: 15px;
    border: 2px solid #4F4F4F;
}

#box_block>h2 {
    color: #000;
    font-family: Metropolis;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.form-label {
    text-align: left;
    color: #4F4F4F;
    font-family: Metropolis;
    font-style: normal;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: normal;
}

.login-input {
    border-radius: 10px;
    border: 1px solid #4F4F4F;
    background: #FFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

#login-form-submit input {
    border-radius: 60px;
    background: #C0BCBC;
}

#login-form-submit input :hover {
    border-radius: 60px;
    background: #494747;
}

#budget-form-submit input {
    border-radius: 60px;
    background: rgba(20, 174, 92, 0.80);
    transition: ease-in-out 0.3s;
}

#budget-form-submit input:hover {
    background: rgb(123, 255, 185);
}

#login-form-submit input:active{
    border-radius: 60px;
    background: #8f8c8c;
}

table {
    border-collapse: collapse;
}

.table-borders tr {
    border: 2px solid #4F4F4F;
}

.table-borders tr:not(.header-row):hover {
    background-color: #494747;
    transition: ease-in-out 0.3s;
}

.btn-filter {
    border-radius: 9.075px;
    background: #E2B362;
}

#btn-add-campaign {
    border-radius: 20px;
    background: rgba(20, 174, 92, 0.80);
}

.table-borders-bottom tr {
    border-bottom: 2px solid #4F4F4F;
}

.table-borders-bottom td {
    color: #000;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

#participant-table td {
    color: #000;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

#main_tech_dashboard h1{
    font-size: 64px;
}

#main_tech_choice a{
    text-decoration: none;
    font-size: 42px;
    padding: 10px;
    border-radius: 10px;
    color: black;
    background-color: #EAC5BE;
}

#main_tech_choice a:hover{
    background-color: #ac8b85;
}

#platform_management{
    font-family: Inter;
}

#platform_management h1{
    font-size: 50px;
    
}

#platform_table th, #platform_table td{
    border:solid;
    font-size: 24px;
}

#platform_table button, #filter-button{
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    background-color: #E2B362;

}

#platform_table button:hover{
    background-color: #8e6c31;
}

#platform_table button:active{
    background-color: #54401e;
}

#create_platform {
    border: 2px solid #474747;
    border-radius: 15px;
    margin-right: 20px;
}

#create_platform h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}



#plateform_creation_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#plateform_creation_form .login-form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

#plateform_creation_form .login-form-label {
    margin-bottom: 5px;
    font-weight: 500;
    color: #555;
}

#plateform_creation_form .login-input {
    padding: 20px;
    border-radius: 8px;
    max-height: 2px;
    width: 100%;
}

#plateform_creation_form #login-form-submit {
    margin-top: 10px;
    width: 500px;
}
